<html>
  <head>
  	<title>The Gossip Project</title>
  </head>
  <body>
  	<h1>Mon super site de gossip, depuis le dossier views !</h1>
  	<a href = "/gossips/new/">Créer un nouveau potin</a>
  	<% gossips.each do |gossip| %>
        <p>
        	<!-- Les lignes suivantes vont permettre d'afficher les chaînes de caractères Ruby qui sont entre les deux balises avec les symboles % -->
          <%= gossip.author %><br/>
          <%= gossip.content%>
        </p>
      <% end %>
  </body>
</html>


